/* App.css */

body {
  background-color: yellow;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  max-width: 400px;
  width: 90%;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: calc(100% - 20px); /* Ajustar el ancho de los campos de entrada */
  padding: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  text-align: center; /* Centrar el texto en los campos de entrada */
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media Queries for Responsive Design */

/* For screen width between 0px and 600px */
@media screen and (max-width: 600px) {
  .app {
    width: 100%;
    padding: 10px; /* Ajustar el padding interno en pantallas más pequeñas */
  }
}
